doctype html
html
  head
    meta(charset='utf-8')
    - if (submission.apps[0].device == "iphone5")
      meta(name='viewport', content='width=device-width, initial-scale=1')
    title #wwdcstudents - #{submission.name}
    link(href='stylesheets/app.css', type='text/css', rel='stylesheet')
  body
    header
      .container
        .full-width
          a#logo(href='/')
            | #
            span wwdc
            | students
          nav#main-nav
            ul
              li
                a(href='/') Stream
              li 
                a(href='https://twitter.com/wwdcstudents', target="_blank") Twitter
              li
                a(href='#') Add Me!

    section#detail-header
      .container
        .full-width
          - if (submission.age != 0) 
            h2
              | #{submission.name},
              span  #{submission.age}
          - else
            h2
              | #{submission.name}
          h3 iOS
          .fb-share-button(data-href="https://wwdcstudents.com", data-type="button_count")
          a.twitter-share-button(href="https://twitter.com/share", data-text='Check out a live demo of @#{submission.twitterUsername}\'s 2014 WWDC Student Scholarship App.' data-via="wwdcstudents") Tweet
          .clear

    nav#social-nav
      ul
        li
          a(href='#{submission.website}')
            i.link
        li
          a(href='https://twitter.com/#{submission.twitterUsername}')
            i.twitter
        li
          a(href='https://facebook.com/#{submission.facebookUsername}')
            i.facebook
        li
          a(href='#')
            i.github

    .container
      section#detail
        - src = submission.apps[0].appIOLink + '?orientation=' + submission.apps[0].orientation + '&device=' + submission.apps[0].device + "&autoplay=true"

        if submission.apps[0].device == "iphone5" && submission.apps[0].orientation == "portrait"
          section#detail
            iframe#app(src='#{src}', height='607px', width='291px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "iphone5" && submission.apps[0].orientation == "landscape"
          section#detail
            iframe#app(src='#{src}', height='289px', width='607px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "ipadmini" && submission.apps[0].orientation == "portrait"
          section#detail
            iframe#app(src='#{src}', height='886px', width='595px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "ipadmini" && submission.apps[0].orientation == "landscape"
          section#detail
            iframe#app(src='#{src}', height='600px', width='882px', frameborder='0', allowtransparency='true', scrolling='no')
    
    footer
      .container
        .full-width
          p.left
            |  Made with
            span   ♥
            |  by
            a(href='https://twitter.com/sjorssnoeren')  Sjors Snoeren
            |  &
            a(href='https:/twitter.com/tosinaf')  Tosin Afolabi 
          p.right Not affiliated with Apple Inc.

    script(src='javascripts/jquery.js')
    script(src='javascripts/main.js')
    script(type='text/javascript', src='//use.typekit.net/tqn7vuf.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=439773292818484&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
