doctype html
html
  head
    meta(charset='utf-8')
    - if (submission.apps[0].device == "iphone5")
      meta(name='viewport', content='width=device-width, initial-scale=1')
    title #wwdcstudents - #{submission.name}
    link(href='stylesheets/app.css', type='text/css', rel='stylesheet')
  body
    header
      .container
        .full-width
          a#logo(href='/')
            | #
            span wwdc
            | students
          nav#main-nav
            ul
              li
                a(href='/') Stream
              li 
                a(href='https://twitter.com/wwdcstudents', target="_blank") Twitter
              li
                a(href='mailto:support@wwdcstudents.co?Subject=I%20want%20to%20be%20added%20to%20%23wwdcstudents&Body=Hey%21%20Heard%20you%20want%20to%20get%20your%20app%20on%20to%20%23wwdcstudents%21%0A%0AThat%27s%20great.%20All%20I%20need%20is%20%0A%0AFull%20Name%20%3A%20String%0AAge%20%20%20%20%20%20%20%20%20%20%3A%20Int%20//%20or%20float%20if%20your%20cool%20like%20that%0AAccepted%20%20%3A%20Boolean%0AfacebookUsername%20%3A%20String%0AtwitterUsername%20%3A%20String%0AsourceLink%20%3A%20String%20%0Aor%20downloadLink%20to%20a%20zipped%20copy%20of%20your%20simulator%20build%20%28%7E/Library/Developer/Xcode/DerivedData/YourApp/Build/Products/Debug-iphonesimulator/%29%0A%0AHope%20to%20hear%20back%20from%20you%20soon%20%3A%29%20%0A%0AP.S%20We%27re%20working%20hard%20to%20turn%20this%20into%20a%20form%20%3A%29%20%23bearWithUs') Add Me!

    section#detail-header
      .container
        .full-width
          - if (submission.age != 0) 
            h2
              | #{submission.name},
              span  #{submission.age}
          - else
            h2
              | #{submission.name}
          h3 iOS
          - if (submission.apps[0].accepted == true)
            h3(style='background:#f56363;') Accepted
          .fb-share-button(data-href="https://wwdcstudents.com", data-type="button_count")
          a.twitter-share-button(href="https://twitter.com/share", data-text='Check out a live demo of @#{submission.twitterUsername}\'s 2014 WWDC Student Scholarship App.' data-via="wwdcstudents") Tweet
          .clear

    nav#social-nav
      ul
        li
          a(href='#{submission.apps[0].source}')
            i.link
        li
          a(href='https://twitter.com/#{submission.twitterUsername}')
            i.twitter
        li
          a(href='https://facebook.com/#{submission.facebookUsername}')
            i.facebook
        li
          a(href='#')
            i.github

    .container
      section#detail
        - src = submission.apps[0].appIOLink + '?orientation=' + submission.apps[0].orientation + '&device=' + submission.apps[0].device + "&autoplay=true"

        if submission.apps[0].device == "iphone5" && submission.apps[0].orientation == "portrait"
          section#detail
            iframe#app(src='#{src}', height='607px', width='291px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "iphone5" && submission.apps[0].orientation == "landscape"
          section#detail
            iframe#app(src='#{src}', height='289px', width='607px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "ipadmini" && submission.apps[0].orientation == "portrait"
          section#detail
            iframe#app(src='#{src}', height='886px', width='595px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "ipadmini" && submission.apps[0].orientation == "landscape"
          section#detail
            iframe#app(src='#{src}', height='600px', width='882px', frameborder='0', allowtransparency='true', scrolling='no')
    
    footer
      .container
        .full-width
          p.left
            |  Made with
            span   ♥
            |  by
            a(href='https://twitter.com/sjorssnoeren')  Sjors Snoeren
            |  &
            a(href='https:/twitter.com/tosinaf')  Tosin Afolabi 
          p.right Not affiliated with Apple Inc.

    script(src='javascripts/jquery.js')
    script(src='javascripts/main.js')
    script(type='text/javascript', src='//use.typekit.net/tqn7vuf.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=439773292818484&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46757742-5', 'wwdcstudents.com');
      ga('send', 'pageview');
