doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #wwdcstudents - An interactive showcase of WWDC Student submissions.
    link(href="../stylesheets/app.css", type="text/css", rel="stylesheet")
  body
    header
      .container
        .full-width
          a#logo(href="/")
            | #
            span wwdc
            | students
          nav#main-nav
            ul
              li.active
                a(href="#")  Stream
              li
                a(href="https://twitter.com/wwdcstudents")  Twitter
              li
                a(href="#") Add Me!

    section#filter
      .container
        nav#filter-nav.full-width
          ul
            li
              | Showing:
              a(href="#")  Latest posts
            li
              | Platform:
              a(href="#")  All

    .container
      section#stream
        ul
          - each submission in submissions
              li
                a(href='/#{submission.username}')
                  img(src='http://graph.facebook.com/#{submission.facebookUsername}/picture?width=400&height=400', alt='')
                  span.overlay
                    span.name #{submission.name}
                    - if (submission.age != 0)
                      span.description #{submission.age} Years Old
        .clear

      section#pagination.full-width
        ul
          - if (currentPage != 1)
            li.left
              a(href='/page/#{currentPage - 1}')
                i.arrow-left
                | Previous page
          - if (currentPage != pageCount)
            li.right
              a(href='/page/#{currentPage + 1}')
                | Next page
                i.arrow-right
        .clear

    footer
      .container
        .full-width
          p.left
            |  Made with
            span  &#9829;
            |  by
            a(href="https://twitter.com/sjorssnoeren")  Sjors Snoeren
            |  &#38;
            a(href="https:/twitter.com/tosinaf")  Tosin Afolabi
          p.right Not affiliated with Apple Inc.

  script(type='text/javascript', src='//use.typekit.net/tqn7vuf.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){console.log("fail");}