doctype html
html
  head
    meta(charset='utf-8')
    title #wwdcstudents - #{submission.name}
    link(href='stylesheets/app.css', type='text/css', rel='stylesheet')
  body
    header
      .container
        .full-width
          a#logo(href='/')
            | #
            span wwdc
            | students
          nav#main-nav
            ul
              li
                a(href='#') Stream
              li
                a(href='#') Github
              li
                a(href='#') Support

    section#detail-header
      .container
        .full-width
          - if (submission.age != 0) 
            h2
              | #{submission.name},
              span #{submission.age}
          - else
            h2
              | #{submission.name}
          h3 iOS
          .clear

    nav#social-nav
      ul
        li
          a(href='#{submission.website}')
            i.link
        li
          a(href='https://twitter.com/#{submission.twitterUsername}')
            i.twitter
        li
          a(href='https://facebook.com/#{submission.facebookUsername}')
            i.facebook
        li
          a(href='#')
            i.github

    .container
      section#detail
        - src = submission.apps[0].appIOLink + '?orientation=' + submission.apps[0].orientation + '&device=' + submission.apps[0].device + "&autoplay=true"

        if submission.apps[0].device == "iphone5" && submission.apps[0].orientation == "portrait"
          section#detail
            iframe#app(src='#{src}', height='607px', width='291px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "iphone5" && submission.apps[0].orientation == "landscape"
          section#detail
            iframe#app(src='#{src}', height='289px', width='607px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "ipadmini" && submission.apps[0].orientation == "portrait"
          section#detail
            iframe#app(src='#{src}', height='886px', width='595px', frameborder='0', allowtransparency='true', scrolling='no')

        else if submission.apps[0].device == "ipadmini" && submission.apps[0].orientation == "landscape"
          section#detail
            iframe#app(src='#{src}', height='600px', width='882px', frameborder='0', allowtransparency='true', scrolling='no')
    
    footer
      .container
        .full-width
          p.left
            |  Made with
            span  ♥
            | by
            a(href='#')  Sjors Snoeren
            | &
            a(href='#')  Tosin Afolabi
          p.right Not affiliated with Apple Inc.

    script(src='javascripts/jquery.js')
    script(src='javascripts/main.js')
